<!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
             <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0">
                <i class="fa fa-user-edit"></i>
            </h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notification</span>
                </a>
                
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">ADMIN</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="/admin/adminLogout" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">ADD NEW COUPON</h6>
                            <form method="post" action="/admin/add-new-coupon" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="">Coupon Code</label>
                                    <input type="text" class="form-control text-uppercase" id="couponCode" name="couponCode" placeholder="Coupon Code" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="">Coupon Expiry Date</label>
                                    <input type="date" class="form-control" id="date" name="date" placeholder="Expiry Date" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="">Coupon discount in %</label>
                                    <input type="text" class="form-control" id="discount" name="discount" placeholder="Discount in %" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="">Maximun Limit in ₹</label>
                                    <input type="text" class="form-control" id="max" name="max" placeholder="Maximun Limit in ₹" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                                    </div>

        
                                <button type="submit" class="btn btn-success" >Submit</button>
                                <a href="/admin/coupons" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                    
            <!-- Form End -->


            
        </div>
        <!-- Content End -->


<script>
    
    function aler(){
        swal("New Category Added Successfully!","done", "success");
    }
</script>
