<section class=" gradient-custom">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0 font-weight-bold"> Sorry ! Your Payment got cancelled, please try again, <span style="color: #e02626;">{{user1.username}}</span>!</h5>
            {{!-- <a class="btn btn-warning mt-3" href="/orders">View Orders</a> --}}
            <a class="btn btn-warning mt-3 ml-3" href="/check-out">Retry Payment</a>
            <a class="btn btn-info mt-3 ml-3" href="/shopProd">Continue Shopping</a>

          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                
              <p class="lead fw-normal mb-0" style="color: #a8729a;"></p>
              
              <p class="small text-muted mb-0"></p>
            </div>
            
      </div>
    </div>
  </div>
</section>
