<!DOCTYPE html>
<html lang="zxx">



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <form method="post" action="/regis">
                            <div class="group-input">
                                <input type="text" id="username" name="username" placeholder="Username" required>
                            </div>
                            <div class="group-input">
                                <input type="email" id="email" name="email" placeholder="E-mail address" required>
                            </div>
                            <div class="group-input">
                                <input type="text" id="mobileNo" name="mobileNo" placeholder="Enter your Mobile Number" required>
                                 
                            </div>
                            <div class="group-input">
                                <input type="password" name="password" id="password" placeholder="Set Password" required>
                            </div>

                            <div class="group-input">
                                <input type="password" name="referal" id="referal" placeholder="ENTER REFERAL CODE(if any)">
                            </div>

                            {{!-- <input type="number" name="wallet" id="wallet" inputmode="numeric" value='0' hidden> --}}
                             {{!-- <input type="text" name="referalgen" id="referalgen" value= hidden> --}}

                            <button type="submit" class="site-btn register-btn">REGISTER</button>
                        </form>
                        <div class="switch-login">
                            <a href="/loggin" class="or-login">Or Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->
    
    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

  
</body>

</html>